/android/.gradle
/android/local.properties
/android/.idea/workspace.xml
/android/.idea/libraries
.DS_Store
/android/build
/android/captures
/android/.idea/workspace.xml
/android/.idea/tasks.xml
/server/node_modules/async
/server/node_modules/mongoose
/server/node_modules/socket.io
/server/node_modules/socket.io-client
/server/node_modules/mongodb
